@import 'tailwindcss';
/* vitepress,dusk,catppuccin,ocean,purple,solar */
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --font-sans: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif;
}
